

<div id="painel_de_eventos" >

<!-- <meta http-equiv="refresh" content="10"> <!-- Refresh every 10 seconds -->

<!-- Agora mostra os eventos -->
  <% @events=policy_scope(@situation.events) %>
  <% @events=@events.select { |e| e.title.downcase.include?(@filtro_activo.downcase) } %>

  <% @events.each do |event| %>

    <% if event.sensitivity == "Secret" %>
        <div class="bs-callout bs-callout-danger" >
    <% else %>
      <% if event.sensitivity == "Private" %>
        <div class="bs-callout bs-callout-warning" >
      <% else %>
        <div class="bs-callout bs-callout-success" >
      <% end %>                    
    <% end %>

       <div class="row">

          <!-- Creation time with symbol code for "Local/National/International" -->
          <% if event.level == "International" %>
              <div class="col-md-3"> <small>(<%= event.created_at %>)  &nbsp  </small> <span class="glyphicon glyphicon-globe"></span>  </div>
          <% else %>
             <% if event.level == "National" %>
                <div class="col-md-3">  <small>(<%= event.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-share-alt"></span>  </div>
             <% else %>
                <div class="col-md-3">  <small>(<%= event.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-chevron-right"></span> </div>
             <% end %>                    
          <% end %>

          <!-- User name, with Font code for "Decision" -->
          <% if event.decision  %>
              <div class="col-md-3">  <kbd> <%= event.user.name %></kbd> - <kbd> <%= event.user.organization.name %> </kbd> </div>
          <% else %>
              <div class="col-md-3"> <reduced> <%= event.user.name %> - <%= event.user.organization.name %></reduced> </div>
          <% end %>


          <% if event.comments.count != 0 %>
             <div class="col-md-5"> <a href="javascript:;" onclick="$(comments_<%= event.id %>).toggle();"> <%= event.title %> </a>  </div>
          <% else %>
             <div class="col-md-5"> <p> <%= event.title %> </p></div>
          <% end %>

          <div class="col-md-1">
              <% if @situation.active %>
                 <%= link_to 'Add', new_event_comment_path(event), :type => 'button', :class => 'btn btn-primary btn-sm'%>
              <% end %>
          </div>
       </div> <!-- row do evento -->

 
    </div> <!-- bs-callout do evento -->


    <!-- Agora mostra os comments do evento -->
    <div id="comments_<%= event.id %>" style="display:none"; >

       <% @comments=policy_scope(event.comments) %>
       <% @comments.each do |comment| %>
         <div class="row">
           <!-- Indenta -->          
           <div class="col-md-1"> </div>

            <!-- Comecemos com o comentario-->
            <div class="col-md-11">


              <% if comment.sensitivity == "Secret" %>
                  <div class="bs-callout bs-callout-info-d" >
              <% else %>
                  <% if comment.sensitivity == "Private" %>
                     <div class="bs-callout bs-callout-info-w" >
                  <% else %>
                     <div class="bs-callout bs-callout-info-s" >
                  <% end %>                    
              <% end %>
              
                  <div class="row">

                      <!-- Creation time with symbol code for "Local/National/International" -->
                      <% if comment.level == "International" %>
                          <div class="col-md-3"> <small>(<%= comment.created_at %>)  &nbsp  </small> <span class="glyphicon glyphicon-globe"></span>  </div>
                      <% else %>
                         <% if comment.level == "National" %>
                            <div class="col-md-3">  <small>(<%= comment.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-share-alt"></span>  </div>
                         <% else %>
                            <div class="col-md-3">  <small>(<%= comment.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-chevron-right"></span> </div>
                         <% end %>                    
                      <% end %>

                      <!-- User name -->
                      <div class="col-md-3"> <reduced><%= comment.user.name %> - <%= comment.user.organization.name %></reduced></div>

                      <!-- Comment body -->
                      <div class="col-md-6"> <%= comment.body %> </div>
                  </div> <!-- end row -->

               </div> <!-- end do bs-ballout variavel do comentário -->
           </div> <!-- end da md-11 do comentario -->

         </div>  <!-- end da row global do comentario -->
       <% end %>  <!-- loop dos comentarios -->
    </div> <!-- div dos comentarios de cada evento -->

  <% end %> <!-- endo do loop dos eventos -->
</div> <!-- painel de eventos -->

<!-- <script>
    //setInterval(function(){location.reload();}, 5000);
    //setInterval(function(){$("#painel_de_eventos").load(@situation);}, 5000);
    //setInterval(function(){document.getElementById("painel_de_eventos'").contentWindow.location.reload();}, 5000);
    //setInterval(function(){document.getElementById("painel_de_eventos").elem.style.color = 'blue';}, 5000);

</script> -->