<%= simple_form_for(@situation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :sensitivity, collection: @sensitivities.keys %>
    <%= f.input :level, collection: Situation.levels.keys %>

    <%= f.association :organizations, collection: policy_scope(Organization), :label_method => lambda { |org| "#{org.name} - #{org.country}"}, as: :check_boxes%>
     <div class="row" style="border-style: double; background-color: #b0c4de">
        <div class="col-md-2" style="background-color: #b0c4de">
          <%= f.input :active, as: :radio_buttons %>
        </div>
        <div class="col-md-5" style="background-color: #b0c4de">
          <h3> Warning </h3>
          <p> Deactivation cannot be undone </p>
        </div>
     </div>
  </div>

  <div class="form-actions"> <%= f.button :submit %>  </div>
<% end %>