<%= simple_form_for(@situation) do |f| %>
  <%= f.error_notification %>

  <% if !@editar %>
    <% @situation.sensitivity="Private" %>
    <% @situation.level="Local" %>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.association :tags, :include_blank => false, :label_method => lambda { |t| "#{t.body}"} %>
      </div>
    </div>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :sensitivity, collection: @sensitivities.keys %>
    <%= f.input :level, collection: Situation.levels.keys %>

    <%= f.association :organizations, collection: policy_scope(Organization.active), :label_method => lambda { |org| "#{org.name} - #{org.country}"}, as: :check_boxes%>

     <!-- If this is an edit operation done by the admin or P4, offer the possibility of activating/deactivating the Situation -->
     <% if (@editar && (current_user.admin?||current_user.p4?)) %>
	       <div class="row" style="border-style: double; background-color: #b0c4de">
	          <div class="col-md-2" style="background-color: #b0c4de">
	            <%= f.input :active, as: :radio_buttons %>
	          </div>
	          <div class="col-md-5" style="background-color: #b0c4de">
	            <h3> Warning </h3>
	            <p> Reactivation can only be done by user roles above P3. </p>
	          </div>
	       </div>
	      <% end %>
     </div>

     <hr>

  <div class="form-actions"> <%= f.button :submit, class: 'btn btn-primary'%>  </div>
<% end %>