<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
    <h3><i class="glyphicon glyphicon-dashboard"></i> Situation</h3>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th><th>Sensitivity</th><th>Level</th><th></th><th></th></tr>
      </thead>
      <tbody>
        <% @situations.each do |situation| %>
          <tr>
            <td><%= link_to situation.name, situation %></td>
            <td><%= situation.sensitivity %></td>
            <td><%= situation.level %></td>
            <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
            <% if current_user.admin? %>
                <% if (situation.active) %>
                   <td><i class="glyphicon glyphicon-folder-open"></i></td>
                <% else %> 
                   <td><i class="glyphicon glyphicon-folder-close"></i></td>
                <% end %>
            <% end %>   
<!--             <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->      </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
  <%= link_to 'New Situation', new_situation_path, :type => 'button', :class => 'btn btn-primary'%>
</div>



