<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
    <h3><i class="glyphicon glyphicon-dashboard"></i> Situations</h3> 
    <hr>

    <div class="row">
        <div class="col-sm-12">
          <div class="bs-callout bs-callout-primary" >
           
            <p>
               <strong>User:</strong>
               <%= current_user.name %>
            </p>

            <p>
               <strong>Organization:</strong>
               <%= current_user.organization.name %>
            </p>

            <p>
              <strong>Currently has access to:</strong>
              <%= @situations.count %> situations.
            </p>

          </div> <!-- end of callout-primary -->
        </div> <!-- end of sm-12 -->
    </div> <!-- end of row -->
  </div> <!-- end of sm-9 -->

  <div class="col-sm-9">
    <div class="bs-callout bs-callout-default" >
     <!-- linha de cima -->
     <div class="row">  
       <div class="col-sm-9"> 
          <strong>With tags:</strong>
       </div>
       <div class="col-sm-2"> 
       <!--   <%= link_to 'Clear all tags', situations_path, :type => 'button', :class => 'btn btn-secondary'%> -->
        <%= link_to "Clear all tags", {:controller => "situations", :action => "index", :sitfilt => @sitfilt_activo }%>
       </div>
     </div> <!-- end of row -->
     <div class="row">    
       <div class="col-sm-4">
          <%= form_tag(situations_path, :method => "get") do %>
            <% if (defined?(@f1)==nil) then %>
                <% valor=0 %>
            <% else %>
                 <% valor=@f1 %>
            <% end %>
          
            <%= select_tag(:f1, options_from_collection_for_select(Tag.all, "id", "body", valor), include_blank: true ) %>
            <%= hidden_field_tag :f2, @f2 %>
            <%= hidden_field_tag :f3, @f3 %>
            <%= hidden_field_tag :sitfilt, @sitfilt_activo %>
            <%= submit_tag "Apply" %>
          <% end %>
       </div>
       <div class="col-sm-4">
          <%= form_tag(situations_path, :method => "get") do %>
            <% if (defined?(@f2)==nil) then %>
                <% valor=0 %>
            <% else %>
                 <% valor=@f2 %>
            <% end %>
          
            <%= select_tag(:f2, options_from_collection_for_select(Tag.all, "id", "body", valor), include_blank: true ) %>
            <%= hidden_field_tag :f1, @f1 %>
            <%= hidden_field_tag :f3, @f3 %>
            <%= hidden_field_tag :sitfilt, @sitfilt_activo %>
            <%= submit_tag "Apply" %>
          <% end %>
       </div> 
       <div class="col-sm-4">
          <%= form_tag(situations_path, :method => "get") do %>
            <% if (defined?(@f3)==nil) then %>
                <% valor=0 %>
            <% else %>
                 <% valor=@f3 %>
            <% end %>
          
            <%= select_tag(:f3, options_from_collection_for_select(Tag.all, "id", "body", valor), include_blank: true ) %>
            <%= hidden_field_tag :f1, @f1 %>
            <%= hidden_field_tag :f2, @f2 %>
            <%= hidden_field_tag :sitfilt, @sitfilt_activo %>
            <%= submit_tag "Apply" %>
          <% end %>
       </div> 
     </div>    <!-- Fecha a row -->
     <!-- Agora esrever a linha das opcoes efectivas -->
     <div class="row"> 
       <div class="col-sm-4">
          <% if ( (defined?(@f1)!=nil) and (@f1 != "") and (@f1 != "0")) %>
              <strong><font color="red"><%=Tag.find(@f1).body %></font></strong>
          <% end %> 
       </div> 
       <div class="col-sm-4">
          <% if ( (defined?(@f2)!=nil) and (@f2 != "") and (@f2 != "0")) %>
              <strong><font color="red"><%=Tag.find(@f2).body %></font></strong>
          <% end %> 
       </div> 
       <div class="col-sm-4">
          <% if ( (defined?(@f3)!=nil) and (@f3 != "") and (@f3 != "0")) %>
              <strong><font color="red"><%=Tag.find(@f3).body %></font></strong>
          <% end %> 
       </div> 
     </div> <!-- Fecha a row das opcoes efectivas -->
    </div> <!-- Fecha a bs-callout -->
    <div class="bs-callout bs-callout-default" >
     <div class="row">
       <div class="col-sm-4">   
         <strong> With description containing:</strong> 
       </div>
     </div>
     <div class="row">
        <div class="col-sm-12">          
          <%= form_tag(situations_path, :method => "get") do %>
            <label for="sitfil"> </label>
            <%= text_field_tag 'sitfilt', "#{@sitfilt_activo}", :maxlength => 25, :size => 30 %>
            <%= hidden_field_tag :f1, @f1 %>
            <%= hidden_field_tag :f2, @f2 %>
            <%= hidden_field_tag :f3, @f3 %>
            <%= submit_tag "Apply" %>
            <!-- <%= link_to 'Clear search', situations_path, :type => 'button', :class => 'btn btn-secondary'%> -->
            <!-- <%= link_to 'Clear search', situations_path, :type => 'button', :sitfilt => "#{@sitfilt_activo}", :class => 'btn btn-secondary'%> -->

            <%= link_to "Clear search expression", {:controller => "situations", :action => "index", :f1 => @f1, :f2 => @f2, :f3 => @f3 }%>
          <% end %>
        </div> <!-- end of SM-12 -->  
     </div> <!-- end of row -->
     <div class="row">
       <div class="col-sm-9"> 
         <% if ( (defined?(@sitfilt_activo)!=nil) and (@sitfilt_activo != "") and (@sitfilt_activo != "0")) %>
            <strong><font color="red"><%= @sitfilt_activo %></font></strong>
         <% end %> 
       </div>
     </div> <!-- Fecha a row -->   
    </div> <!-- fecha a bs-callout -->
  </div> <!-- fecha a sm-9 -->



  <div class="col-sm-12">
      <%= link_to 'New Situation', new_situation_path, :type => 'button', :class => 'btn btn-primary'%>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr><th>Name</th><th>Created by</th><th>Created at</th><th>Sensitivity</th><th>Level</th><th></th><th></th></tr>
        </thead>
        <tbody>
          <% @situations.each do |situation| %>

          
                <tr>
                  <td><%= link_to situation.name, situation %></td>
                  <% if  situation.organization.name != "ADMIN" %>
                       <td><%= situation.organization.name %></td>
                  <% else %>
                       <td><%= "-------" %></td>
                  <% end %>
                  <td><%= situation.created_at %></td>
                  <td><%= situation.sensitivity %></td>
                  <td><%= situation.level %></td>
                  <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
                  <% if (current_user.admin? || current_user.p4?)%>
                      <% if (situation.active) %>
                         <td><i class="glyphicon glyphicon-folder-open"></i></td>
                      <% else %> 
                         <td><i class="glyphicon glyphicon-folder-close"></i></td>
                      <% end %>
                  <% end %>   
        <!--             <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->      </tr>
          


          <% end %>
        </tbody>
      </table>
  </div>


</div>



