<div class="row">
    <%= render 'layouts/left_navigation' %>

    <div class="col-sm-9">
        <h3><i class="glyphicon glyphicon-dashboard"></i> 
          <%= @situation.name + ' (' + @situation.organization.name + ', ' + @situation.sensitivity + ', ' + @situation.level + ')' %> 
          <% if (current_user.admin? || current_user.p4?) %>
            <% if (@situation.active) %>
               <td><i class="glyphicon glyphicon-folder-open"></i></td>
            <% else %> 
               <td><i class="glyphicon glyphicon-folder-close"></i></td>
            <% end %>
          <% end %>  
          <%= link_to 'Edit', edit_situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %>
        </h3>

        <div class="col-sm-12">
            <div class="bs-callout bs-callout-primary" >   
              <p>
                 <strong>Description:</strong>
                 <%= @situation.description %>
              </p>

              <p>
                  <% if  @situation.organization.name != "ADMIN" %>
                      <strong>Created by:</strong>
                      <%= @situation.organization.name + ", at " +  @situation.created_at.to_s %>
                  <% else %>
                      <strong>Created at:</strong>
                      <%= @situation.created_at.to_s %>
                  <% end %>
              </p>
            </div> <!-- end of callout-primary -->
            <hr>
        </div> <!-- end of sm-12 -->


        <div > <i class="glyphicon glyphicon-comment"></i> <a href="javascript:;" onclick="$(participating_orgs).toggle();">  <strong> Participating Organizations</strong> </a>  </div>
      

        <!-- Agora apresenta as organizacoes participantes, mas hidden -->
        <div id="participating_orgs" style="display:none"; >

            <table class="table table-striped">
              <tbody>
                <% policy_scope(@situation.organizations).each do |o| %>
                  <tr>
                    <td><%= link_to o.name+' - '+o.country, o %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

        </div>






    </div> <!-- col-sm-9 --> 
</div> <!-- fecha a row inicial -->

<div> <!-- Cabeçalho dos eventos -->
    <strong><i class="glyphicon glyphicon-comment"></i> Events</strong> 
    <% if @situation.active %>
       <%= link_to 'New Event', new_situation_event_path(@situation), :type => 'button', :class => 'btn btn-primary'%>
       <hr>
    <% end %> 
</div> <!-- Cabeçalho dos eventos -->


    <!-- Uma div só para ir passando mensagnes, aquando do desenvolvimento dos auto-refreshes -->
    <!-- <p id="demo"></p> -->

    <div id="painel" >
        <div id="lista_de_eventos">
           <%= render 'eventos.html.erb' %>
        </div>
    </div>

<!-- Row inicial -->
<!-- </div> -->

<%= javascript_tag do %>
    window.sit_id = "<%= @situation.id %>";
<% end %>

<script>

    var idle=false;

    // Instantiate the idle counter
    $(function() {
       $( document ).idleTimer( 25000 );
    });

    $(function() {
       $( document ).on( "idle.idleTimer", function(event, elem, obj){
        //document.getElementById("demo").innerHTML = obj.idle
        idle=true
       });

       $( document ).on( "active.idleTimer", function(event, elem, obj, triggerevent){
        //document.getElementById("demo").innerHTML = obj.idle
        idle=false
       });
    });


    var str1 = "/situations/";
    var str2 = " #lista_de_eventos";
    str=str1.concat(sit_id, str2)


    //document.getElementById("demo").innerHTML = typeof str1  + " " + typeof sit_id + " " + typeof str3 + " = "  + str;

    if (typeof refresh_timer == 'undefined') {
      var refresh_timer = setInterval(function(){
          if (idle) {
            $("#painel").load(str)
          }
         }, 7500);
    }


</script>