<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Situation Detail</h3>
     <hr>
  </div>
    <div class="row">
      <div class="col-md-7">
      <p>
      <strong>Name:</strong>
      <%= @situation.name %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @situation.description %>
      </p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Organizations</th>
          </tr>
        </thead>
        <tbody>
          <% @situation.organizations.each do |o| %>
            <tr>
              <td><%= link_to o.name+' - '+o.country, o %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <hr>
    <%= link_to 'Edit', edit_situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %>
    <%= link_to 'Back', situations_path, :type => 'button', :class => 'btn btn-primary' %>
  </div>
</div>

