<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> <%= @situation.name + ' (' + @situation.sensitivity + ', ' + @situation.level + ')' %> <%= link_to 'Edit', edit_situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %></h3>
     
    <hr>
    <p>
      <%= @situation.description %>
    </p>
    <hr>
    <strong><i class="glyphicon glyphicon-comment"></i> Organizations</strong>
    <hr>
      <table class="table table-striped">
        <tbody>
          <% @situation.organizations.each do |o| %>
            <tr>
              <td><%= link_to o.name+' - '+o.country, o %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--<hr>-->
  </div>

  <div>
     <strong><i class="glyphicon glyphicon-comment"></i> Events</strong>
     <!-- Agora vou enfiar aqui o botão da modal -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
         New event
     </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





     

  </div>
  <hr>

  <!-- Agora mostra os eventos -->
  <% @events=policy_scope(@situation.events) %>
  <% @events.each do |event| %>

    <% if event.sensitivity == "secreto" %>
        <div class="bs-callout bs-callout-danger" >
    <% else %>
      <% if event.sensitivity == "privado" %>
        <div class="bs-callout bs-callout-warning" >
      <% else %>
        <div class="bs-callout bs-callout-success" >
      <% end %>                    
    <% end %>

       <div class="row">

          <!-- Creation time with symbol code for "Local/National/International" -->
          <% if event.level == "international" %>
              <div class="col-md-3"> <small>(<%= event.created_at %>)  &nbsp  </small> <span class="glyphicon glyphicon-globe"></span>  </div>
          <% else %>
             <% if event.level == "national" %>
                <div class="col-md-3">  <small>(<%= event.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-share-alt"></span>  </div>
             <% else %>
                <div class="col-md-3">  <small>(<%= event.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-chevron-right"></span> </div>
             <% end %>                    
          <% end %>

          <!-- User name, with Font code for "Decision" -->
          <% if event.decision  %>
              <div class="col-md-2">  <kbd> <%= event.user.name %> </kbd>  </div>
          <% else %>
              <div class="col-md-2"> <%= event.user.name %> </div>
          <% end %>

          <!-- User organization, with Font code for "Decision" -->
          <% if event.decision  %>
              <div class="col-md-1"> <kbd> <%= event.user.organization.name %> </kbd> </div>
          <% else %>
              <div class="col-md-1"> <%= event.user.organization.name %> </div>
          <% end %>


          <% if event.comments.count != 0 %>
             <div class="col-md-6"> <a href="javascript:;" onclick="$(comments_<%= event.id %>).toggle();"> <%= event.title %> </a>  </div>
          <% else %>
             <div class="col-md-6"> <p> <%= event.title %> </p></div>
          <% end %>

       </div>

    </div>

    <!-- Agora mostra os comments do evento -->
    <div id="comments_<%= event.id %>" style="display:none"; >

       <% @comments=policy_scope(event.comments) %>
       <% @comments.each do |comment| %>
         <div class="row">
           <!-- Indenta -->          
           <div class="col-md-1"> </div>

           <!-- Comecemos com o evento -->
            <div class="col-md-11">


              <% if comment.sensitivity == "secreto" %>
                  <div class="bs-callout bs-callout-info-d" >
              <% else %>
                  <% if comment.sensitivity == "privado" %>
                     <div class="bs-callout bs-callout-info-w" >
                  <% else %>
                     <div class="bs-callout bs-callout-info-s" >
                  <% end %>                    
              <% end %>
              
                  <div class="row">

                      <!-- Creation time with symbol code for "Local/National/International" -->
                      <% if comment.level == "international" %>
                          <div class="col-md-3"> <small>(<%= comment.created_at %>)  &nbsp  </small> <span class="glyphicon glyphicon-globe"></span>  </div>
                      <% else %>
                         <% if comment.level == "national" %>
                            <div class="col-md-3">  <small>(<%= comment.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-share-alt"></span>  </div>
                         <% else %>
                            <div class="col-md-3">  <small>(<%= comment.created_at %>) &nbsp </small> <span class="glyphicon glyphicon-chevron-right"></span> </div>
                         <% end %>                    
                      <% end %>

                      <!-- User name -->
                      <div class="col-md-2"> <%= comment.user.name %> </div>


                      <!-- User organization -->
                      <div class="col-md-1"> <%= comment.user.organization.name %> </div>

                      <!-- Comment body -->
                      <div class="col-md-5"> <%= comment.body %> </div>
                  </div>

               </div>
           </div>

         </div>  
       <% end %>
    </div>

  <% end %>

</div>
