<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> <%= @situation.name + ' (' + @situation.sensitivity + ', ' + @situation.level + ')' %> <%= link_to 'Edit', edit_situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %></h3>
     <hr>

      <p>
        <%= @situation.description %>
      </p>
      <hr>

      <strong><i class="glyphicon glyphicon-comment"></i> Organizations</strong>
      <hr>

      <table class="table table-striped">
        <tbody>
          <% @situation.organizations.each do |o| %>
            <tr>
              <td><%= link_to o.name+' - '+o.country, o %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>

      <strong><i class="glyphicon glyphicon-comment"></i> Events</strong>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <% @situation.events.each do |event| %>
              <% if event.comments.count != 0 %>
                <li class="list-group-item"><i class="glyphicon glyphicon-flash"></i> <small>(<%= time_since(event.created_at) %> ago)</small> <a href="javascript:;"><%= event.title %></a> <span class="caret"></span></li>
                <div id='comments'>
                  <% event.comments.each do |comment| %>
                    <div class="bs-callout bs-callout-info">
                      <p><%= comment.body %></p>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <li class="list-group-item"><i class="glyphicon glyphicon-flash"></i> <small>(<%= time_since(event.created_at) %> ago)</small> <a href="javascript:;"><%= event.title %></a></li>
              <% end %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <hr>
</div>
<script>
  $('.list-group-item').next('div').hide();
    $('.list-group-item').click(function(){
      $(this).next('div').slideToggle();
  });
</script>

