<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
    <h3><i class="glyphicon glyphicon-dashboard"></i>
      <%= @situation.name + ' (' + @situation.sensitivity + ', ' + @situation.level + ')' %>
      <% if (current_user.admin? || current_user.p4?) %>
        <% if (@situation.active) %>
           <td><i class="glyphicon glyphicon-folder-open"></i></td>
        <% else %>
           <td><i class="glyphicon glyphicon-folder-close"></i></td>
        <% end %>
      <% end %>
      <%= link_to 'Edit', edit_situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %>
    </h3>

    <hr>
    <p>
      <%= @situation.description %>
    </p>
    <hr>
    <strong><i class="glyphicon glyphicon-comment"></i> Organizations</strong>
    <hr>
      <table class="table table-striped">
        <tbody>
          <% policy_scope(@situation.organizations).each do |o| %>
            <tr>
              <td><%= link_to o.name+' - '+o.country, o %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--<hr>-->
  </div> <!-- col-sm-9 -->

  <div> <!-- Cabeçalho dos eventos -->
     <strong><i class="glyphicon glyphicon-comment"></i> Events</strong>

     <%= link_to 'New Event', new_situation_event_path(@situation), :type => 'button', :class => 'btn btn-primary'%>

  </div> <!-- Cabeçalho dos eventos -->
  <hr>

  <!-- Agora mostra os eventos -->
  <% @events=policy_scope(@situation.events) %>
  <%= sync_new partial: 'event_list', resource: Event.new, scope: @situation %>
  <% @events.each do |event| %>
    <%= sync partial: 'event_list', resource: event %>
  <% end %>




</div>
