<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
    <h3><i class="glyphicon glyphicon-dashboard"></i> 
      <%= @situation.name + ' (' + @situation.organization.name + ', ' + @situation.sensitivity + ', ' + @situation.level + ')' %> 
      <% if (current_user.admin? || current_user.p4?) %>
        <% if (@situation.active) %>
           <td><i class="glyphicon glyphicon-folder-open"></i></td>
        <% else %> 
           <td><i class="glyphicon glyphicon-folder-close"></i></td>
        <% end %>
      <% end %>  
      <%= link_to 'Edit', edit_situation_path(@situation), :type => 'button', :class => 'btn btn-primary' %>
    </h3>
     
    <hr>
    <p>
      <%= @situation.description %>
    </p>
    <hr>
    <strong><i class="glyphicon glyphicon-comment"></i> Organizations</strong>
    <hr>
      <table class="table table-striped">
        <tbody>
          <% policy_scope(@situation.organizations).each do |o| %>
            <tr>
              <td><%= link_to o.name+' - '+o.country, o %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--<hr>-->
  </div> <!-- col-sm-9 --> 

  <div> <!-- Cabeçalho dos eventos -->
     <strong><i class="glyphicon glyphicon-comment"></i> Events</strong>

     <%= link_to 'New Event', new_situation_event_path(@situation), :type => 'button', :class => 'btn btn-primary'%>
     
  </div> <!-- Cabeçalho dos eventos -->
  <hr>

  <!-- Uma div só para ir passando mensagnes, aquando do desenvolvimento dos auto-refreshes -->
  <!-- <p id="demo"></p> -->

  <div id="painel" >
      <div id="lista_de_eventos">
         <%= render 'eventos.html.erb' %>
      </div>
  </div>
</div>
</div>

<%= javascript_tag do %>
    window.sit_id = "<%= @situation.id %>";
<% end %>

<script>

    var idle=false;

    // Instantiate the idle counter
    $(function() {
       $( document ).idleTimer( 25000 );
    });

    $(function() {
       $( document ).on( "idle.idleTimer", function(event, elem, obj){
        //document.getElementById("demo").innerHTML = obj.idle
        idle=true
       });

       $( document ).on( "active.idleTimer", function(event, elem, obj, triggerevent){
        //document.getElementById("demo").innerHTML = obj.idle
        idle=false
       });
    });


    var str1 = "/situations/";
    var str2 = " #lista_de_eventos";
    str=str1.concat(sit_id, str2)


    //document.getElementById("demo").innerHTML = typeof str1  + " " + typeof sit_id + " " + typeof str3 + " = "  + str;

    if (typeof refresh_timer == 'undefined') {
      var refresh_timer = setInterval(function(){
          if (idle) {
            $("#painel").load(str)
          }
         }, 7500);
    }


</script>