  <%= simple_form_for [@event, @comment] do |f| %>
     <% f.error_notification %>

      <% @comment.sensitivity=@event.sensitivity %>
      <% @comment.level=@event.level %>

      <div class="form-inputs">
        <%= f.input :body, label: 'Enter comment' %>
        <%= f.input :sensitivity, collection: @sensitivities.keys %>
        <%= f.input :level, collection: Comment.levels.keys  %>
      </div>

      <div class="form-actions"> 
          <%= f.button :submit , controller: event_comments_path(@event), class: 'btn btn-primary' %>  
      </div>

<% end %>
