<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Situations:', situations_path %> <%= Situation.count %> Situations</p>
<p><%= link_to 'Organizations:', organizations_path %> <%= Organization.count %> Organizations</p>
