  <%= simple_form_for [@situation, @event] do |f| %>

      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :sensitivity, collection: @sensitivities.keys %>
        <%= f.input :level, collection: Event.levels.keys %>
        <%= f.input :decision, default: false, as: :radio_buttons %>
      </div>


      <div class="form-actions"> 
          <%= f.button :submit , controller: situation_events_path(@situation) %>  
      </div>

<% end %>