<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>
     <hr>

    <div class="row">
      <div class="col-md-7">
        <% if current_user.admin? %>
            <div class="well">Registered Users <span class="badge pull-right"><%= User.count %></span></div>
            <div class="well">Situations <span class="badge pull-right"><%= Situation.count %></span></div>
            <div class="well">Organizations <span class="badge pull-right"><%= Organization.count %></span></div>
            <hr>
        <% else %>
            <%= image_tag "cover.png" %>
        <% end %>
      </div><!--/col-->
      <%= render 'layouts/right_icons' %>
    </div><!--/row-->
  </div><!--/col-span-9-->

</div><!--/row-->
