<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Organizations</h3>
     <hr>
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th><th>Country</th><th></th><th></th></tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= link_to organization.name, organization %></td>
            <td><%= organization.country %></td>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
            <% if (current_user.admin? || current_user.p4?) %>
               <% if organization.active %>     
                  <td><i class="glyphicon glyphicon-folder-open"></i></td>     
               <% else %>
                   <td><i class="glyphicon glyphicon-folder-close"></i></td>
                <% end %> <!-- if organization.active -->   
            <% end %> <!-- if admin or p4 -->
          </tr>
        <% end %> <!-- end do --> 
      </tbody>
    </table>
  </div>
  <hr>
  <%= link_to 'New Organization', new_organization_path, :type => 'button', :class => 'btn btn-primary'%>
</div>


