<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Organizations</h3>
     <hr>
  </div>
    <div class="row">
      <div class="col-md-7">
      <table class="table table-striped">
        <thead>
          <tr><th>Name</th><th>Country</th><th></th><th></th><th></th></tr>
        </thead>
        <tbody>
          <% @organizations.each do |organization| %>
            <tr>
              <td><%= organization.name %></td>
              <td><%= organization.country %></td>
              <td><%= link_to 'Show', organization %></td>
              <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
              <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <hr>
    <%= link_to 'New Organization', new_organization_path, :type => 'button', :class => 'btn btn-primary'%>
  </div>
</div>


