<div class="row">
  <%= render 'layouts/left_navigation' %>

  <div class="col-sm-9">
     <h3><i class="glyphicon glyphicon-dashboard"></i> Organizations</h3>
     <hr>
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th><th>Country</th><th>Creator</th><th></th></tr>
      </thead>
      <tbody>
        <% @organizations.each do |o| %>
          <tr>
            <td><%= link_to o.name, o %></td>
            <td><%= o.country %></td>
            <% if  o.organization.name != "ADMIN" %>
               <td><%= o.organization.name %></td>
            <% else %>
                <td> ---- </td> 
            <% end %>
            <td><%= link_to 'Edit', edit_organization_path(o) %></td>
            <% if (current_user.admin? || current_user.p4?) %>
               <% if o.active %>     
                  <td><i class="glyphicon glyphicon-folder-open"></i></td>     
               <% else %>
                   <td><i class="glyphicon glyphicon-folder-close"></i></td>
                <% end %> <!-- if organization.active -->   
            <% end %> <!-- if admin or p4 -->
          </tr>
        <% end %> <!-- end do --> 
      </tbody>
    </table>
  </div> <!-- end da div  -->
  <hr>
  <%= link_to 'New Organization', new_organization_path, :type => 'button', :class => 'btn btn-primary'%>
</div>

